@mixin clearfix {
  &::after{
    content: "";
    display: table; //why table?
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
// MEDIA QUERY MANAGER
/*

0 - 600PX: ======>  PHONE
600 - 900PX: ======>   TABLET PORTRA
900 - 1200PX: ======>  TABLET LANDSCAPE

[1200 - 1800P]: ======> IS WHERE OYR NORMAL STYLE APPLY.
1800PX +:  ======>  BIG DESKTOP

breakpoint arguments choices
- phone
- tap-port
- tap-land
- big-desktop

1em = 16px
*/

 @mixin respond($breakpoint) {
   @if $breakpoint == phone {
     @media only screen and (max-width: 37.5em){@content}; // 600px
   }

  @if $breakpoint == tap-port {
    @media only screen and (max-width: 56.25em){@content}; // 900px
  }
  @if $breakpoint == tap-land {
    @media only screen and (max-width: 75em){@content}; // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em){@content}; // 1800px
  }
 }
